# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [6]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [7]:
tables = [pd.merge(pd.read_csv(f"Students_info_{i}.csv", sep = ",", index_col = 0), pd.read_csv(f"Students_marks_{i}.csv", sep = ",", index_col = 0), on="index", how="outer") for i in range(10)]
df = pd.concat(tables)
df.sample(n=10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
474,female,group B,associate's degree,standard,completed,group5,90,90,91
878,female,group D,some high school,standard,none,group9,59,72,80
442,female,group A,some high school,free/reduced,none,group5,59,73,69
572,female,group C,some college,standard,none,group6,53,62,56
517,female,group E,some college,standard,completed,group6,66,74,73
449,male,group B,associate's degree,standard,none,group5,81,73,72
136,male,group B,some high school,standard,completed,group2,51,54,41
332,male,group E,associate's degree,standard,completed,group4,62,56,53
614,female,group A,associate's degree,standard,none,group7,82,93,93
834,male,group B,some college,standard,none,group9,58,50,45

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [8]:
df.reset_index(drop = True, inplace = True) # т.к. index_col = 0, то можно удалить столбец index, drop'нув индексы в reset'е

#### Задание 3. Выведите на экран размеры полученной таблицы

In [9]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [10]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [11]:
pd.isna(df).sum() # Ни в одном столбце нет пропущенных значений. Значит и во всей таблице нету.

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [12]:
df[["math score", "reading score", "writing score"]].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [13]:
gr = df.groupby(by = "test preparation course")
gr[["math score", "reading score", "writing score"]].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [14]:
df.lunch.value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [15]:
df.rename(columns={"parental level of education" : "education", "test preparation course" : "test preparation"}, inplace = True)
df

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [16]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [17]:
print("Доля студентов, сдавших экзамен по математике:", (df["math score"] >= passmark).sum() / df.shape[0])
print("Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике:", (df[df["test preparation"] == "completed"]["math score"] >= passmark).sum() / df.shape[0])
print("Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике?", df[(df["test preparation"] == "none") & (df["gender"] == "female")  & (df["math score"] < passmark)].shape[0] / df.shape[0])

Доля студентов, сдавших экзамен по математике: 0.865
Доля студентов, проходивших курс подготовки к экзамену и сдавших экзамен по математике: 0.33
Доля женщин, не проходивших курс подготовки к экзамену и не сдавших экзамен по математике? 0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [18]:
%%time
df.groupby("race/ethnicity")["reading score"].mean() # средний балл за экзамен по чтению для каждой этнической группы

CPU times: user 2.53 ms, sys: 916 µs, total: 3.44 ms
Wall time: 3.31 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [19]:
%%time
df.groupby("education")["writing score"].min() # минимальный балл за экзамен по письму для каждого уровня образования

CPU times: user 2.21 ms, sys: 38 µs, total: 2.24 ms
Wall time: 10.1 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [20]:
%%time
m = [0 for i in range(10)] # массив, где i-й элемент - суммы группы, (i + 1)-й - количество элементов группы
for i in range(df.shape[0]):
  for letter in "ABCDE":
    if df.iloc[i]["race/ethnicity"] == "group " + letter:
      m["ABCDE".find(letter) * 2] += df.iloc[i]["reading score"]
      m["ABCDE".find(letter) * 2 + 1] += 1
for i in range(5):
  print("Group " + "ABCDE"[i] + "    " , m[2 * i] / m[2 * i + 1]) # средний балл за экзамен по чтению для каждой этнической группы

Group A     64.67415730337079
Group B     67.35263157894737
Group C     69.10344827586206
Group D     70.03053435114504
Group E     73.02857142857142
CPU times: user 665 ms, sys: 3.49 ms, total: 668 ms
Wall time: 692 ms

In [21]:
%%time 
# Здесь уже список не так удобно использовать(. Используем словарь, где ключ - уровень образования, а значение - минимальный балл за экзамен по письму
m = df["writing score"].max()
d = {"associate's degree" : m, "bachelor's degree" : m, "high school" : m, "master's degree" : m, "some college" : m, "some high school" : m}
for i in range(df.shape[0]):
  key = df.iloc[i]["education"]
  d[key] = min(df.iloc[i]["writing score"], d[key])
for key in d.keys():
  print(key, d[key]) # минимальный балл за экзамен по письму для каждого уровня образования

associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
CPU times: user 212 ms, sys: 961 µs, total: 213 ms
Wall time: 222 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [22]:
pd.pivot_table(df, index = ["gender", "education"], values = ["math score",	"reading score",	"writing score"])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [23]:
df["Math_PassStatus"] = df["math score"].apply(lambda mark: 'F' if mark < passmark else 'P')
df["Math_PassStatus"].value_counts() # количество студентов, сдавших и не сдавших экзамен по математике

P    865
F    135
Name: Math_PassStatus, dtype: int64

In [24]:
df["Reading_PassStatus"] = df["reading score"].apply(lambda mark: 'F' if mark < passmark else 'P')
df["Reading_PassStatus"].value_counts() # количество студентов, сдавших и не сдавших экзамен по чтению

P    910
F     90
Name: Reading_PassStatus, dtype: int64

In [25]:
df["Writing_PassStatus"] = df["writing score"].apply(lambda mark: 'F' if mark < passmark else 'P')
df["Writing_PassStatus"].value_counts() # количество студентов, сдавших и не сдавших экзамен по письму

P    886
F    114
Name: Writing_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [26]:
df["OverAll_PassStatus"] = 'F'
df["OverAll_PassStatus"] = df["OverAll_PassStatus"].where((df["Math_PassStatus"] == 'F') | (df["Reading_PassStatus"] == 'F') | (df["Writing_PassStatus"] == 'F'), 'P')
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

In [27]:
print("Количество студентов, которые сдали все экзамены", (df["OverAll_PassStatus"] == 'P').sum())

Количество студентов, которые сдали все экзамены 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [28]:
def GetGrade(average_mark):
    return 'F' if average_mark < 50 else 'EDCBA'[int(average_mark / 10) % 5]
    # С виду сложная конструкция, но логика проста - благодаря количеству десятков определим букву. Оценка выбирается правильная (эмпирически проверил).

df["Grade"] = df[["math score","reading score", "writing score"]].mean(axis=1).apply(GetGrade)
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C

In [30]:
df.Grade.value_counts() # количество студентов, получивших каждую из оценок

C    261
D    256
E    185
B    146
F    103
A     49
Name: Grade, dtype: int64